.cityInfo {
  width: 90%;
  box-shadow: 3px 2px 2px black;
  border-radius: 5px;
  padding: 1rem;
}

.header {
  margin: 2rem;
}

.header > p {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.header > p:nth-child(2) {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}

.header > p:nth-child(2) > span {
  font-size: 3rem;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
  gap: 0.5rem;
}

.btn > a:link,
.btn > a:visited {
  width: fit-content;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  background-color: lightgray;
  color: black;
}
