.cityList {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  flex-direction: column;
  font-size: 1.6rem;
  overflow: scroll;
  height: 100%;
  margin-bottom: 3rem;
}

.cityList li {
  width: 100%;
}

.city {
  border-left: 3px solid rgb(5, 190, 5);
  padding: 1rem 2rem;
  width: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 1px rgb(42, 36, 36);
  background-color: var(--color-dark--2);
}

/* Applies border for currently active city */
.currentCity {
  border: 1.5px solid rgb(5, 190, 5);
  border-left: 4px solid rgb(5, 190, 5);
}

.city > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cityList a:link,
.cityList a:visited {
  text-decoration: none;
  color: white;
  padding: 1.5rem 2rem;
}

.city button {
  background-color: rgb(59, 58, 58);
  border: 1px solid rgb(59, 58, 58);
  outline: none;
  padding: 0.1rem 0.6rem;
  border-radius: 100%;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.city button:hover {
  background-color: rgb(255, 238, 0);
  color: black;
}

.message {
  letter-spacing: 1.5px;
  text-align: center;
  margin-top: 5rem;
}
