.locBtn {
  position: absolute;
  bottom: 8rem;
  left: 67%;
  transform: translateX(-50%);
  z-index: 999999;
  border: none;
  outline: none;
  background-color: rgb(47, 178, 66);
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
